.sessao {
    display: flex;
    align-items: center;
    padding: 24px;
    justify-content: space-evenly;
}

.titulo {
    color: #1D3557;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto1 {
    color: #263238;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto2 {
    color: #263238;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.firstBlock{
    display: flex;
    flex-direction: column;
    width: 519px;
    height: 331px;
    gap: 30px;
}